:root {
  --main-navy: #110a1d;
  --main-blue: #478bf9;
  --main-white: #ffffff;
  --main-deep-blue: #1e1231;
  --additional: #9dadf2;
}

body {
  background-color: var(--main-navy);
  font-family: 'Lexend', sans-serif;
  color: var(--main-white);
}

h1 {
  font-size: 96px;
  color: var(--main-white);
  font-weight: 500;
  line-height: 100%;
}

h3 {
  font-size: 40px;
  color: var(--main-white);
  font-weight: 600;
  line-height: 100%;
}

h4 {
  font-size: 32px;
  color: var(--main-white);
  font-weight: 500;
  line-height: 100%;
}

h5 {
  font-size: 24px;
  color: var(--main-white);
  font-weight: 400;
  line-height: 110%;
}

.btn1 {
  font-family: 'Lexend', sans-serif;
  border-radius: 24px;
  font-size: 16px;
  border: 2px solid var(--additional);
  color: var(--main-white);
  line-height: 100%;
  padding: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn2 {
  font-family: 'Lexend', sans-serif;
  border-radius: 24px;
  font-size: 16px;
  line-height: 100%;
  border: none;
  color: var(--main-white);
  padding: 14px;
  text-transform: uppercase;
  background-color: var(--main-blue);
  cursor: pointer;
}

.blue_text {
  color: var(--main-blue);
}

.header {
  background-color: var(--main-navy);
  margin: 16px auto 8px auto;
  max-width: 1920px;
}

.header_container {
  padding: 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  height: 96px;
  border: 4px solid var(--main-blue);
}

.container {
  margin: 0 140px;
}

.logo {
  margin: auto;
}

.nav {
  margin: auto;
}

.nav_ul {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 400;
}

.nav_li a {
  text-decoration: none;
  color: var(--main-white);
}

.header_btns {
  display: flex;
  gap: 14px;
}

.main {
  height: 960px;
  max-width: 1920px;
  margin: auto;
  background-color: var(--main-navy);
}

.main_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_info {
  width: 669px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main_description {
  opacity: 0.6;
}

.main_btn {
  align-self: flex-start;
  padding: 20px 72px;
  border-radius: 48px;
  line-height: 130%;
  font-size: 24px;
}

.banner {
  overflow: hidden;
  height: 100%;
  display: flex;
  gap: 16px;
}

.banner_line {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.banner_line_first {
  opacity: 0.2;
  animation: 30s infinite bannerDown;
}

.banner_line_second {
  opacity: 0.6;
  animation: 35s infinite bannerUp;
}

.banner_line_third {
  opacity: 0.4;
  animation: 40s infinite bannerDown;
}

@keyframes bannerUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bannerDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.blog_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.blog_title {
  text-transform: uppercase;
}

.blog {
  border-radius: 100px;
  height: 595px;
  border: 3px solid var(--main-blue);
  background-color: rgba(256, 256, 256, 0.12);
  width: 530px;
  overflow: hidden;
}

.posts {
  height: 595px;
  width: 510px;
  overflow: auto;
  padding: 24px 16px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-color: var(--main-blue) rgba(256, 256, 256, 0.12);
  scrollbar-width: thin;
}

.post {
  width: 100%;
  border-radius: 196px;
  padding: 16px 64px;
  background-color: var(--main-deep-blue);
  cursor: pointer;
  transition: 0.3s;
}

.post:hover {
  background-color: var(--main-blue);
}

.posts a {
  text-decoration: none;
}

.posts::-webkit-scrollbar {
  width: 8px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.posts::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(256, 256, 256, 0.12);
  margin: 96px;
}

.posts::-webkit-scrollbar-thumb {
  background-color: var(--main-blue);
  border-radius: 10px;
}

.post_date {
  margin-top: 14px;
  color: var(--main-white);
  opacity: 0.6;
  font-size: 14px;
}
